body {
	background: url('../images/my_dream.jpg');
	/* the follow is the code to have the image display as a full page */
	
	/*background: url('../images/rajinikanth.jpg');*/
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#container{
	background: black;
	opacity: 0.7;
	width: 525px;
	padding: 15px;
	border-radius: 20px;
	color: white;
    font-family: 'Waterfall', cursive;
    font-size: 45px;
    font-weight: 500;

}
#para{
	font-size: 20px;
}
h1{
	font-size: 50px;
	font-family: 'Pushster', cursive;
	color: yellow;

}
h2{
	background: black;
	border-radius: 5px;
	font-family: 'Pushster', cursive;
	color: orange;

}
b{
	color: red;
}
